@import url(../fonts/fonts.css);

* {
    box-sizing: border-box;
}

.container-FormRoomSearch {
    display: flex;
    background: rgb(255, 255, 255);
    width: 70%;
    height: 100px;
    margin: 10px auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.container_input-FormRoomSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: blue; */
    width: min-content;
    padding: 10px;

}

.label_input-FormRoomSearch {
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333333;
    font-family: Akrobat-Bold;
}

.input-FormRoomSearch {
    /* background: red; */
    width: 177px;
    height: 27px;
    margin-bottom: 10px;
}

.input_FormRoomSearch {
    background: #d9d9d9;
    position: absolute;
    height: 27px;
    top: -14px;
    outline: none;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    color: #888888;
    padding: 0 0 0 5px;
    box-sizing: content-box;
}



.input_FormRoomSearch-dos,
.input_FormRoomSearch-dos::placeholder {
    /* background: #ecdd05d0;  */
    top: 43px;
    color: #888888;
    width: 169px;
}

option {
    color: #333333;
}


.icon-input_FormRoomSearch {
    /* background: rgb(21, 255, 0);  */
    padding: 8px 0 4px 10px;
    position: relative;
    left: 137px;
    bottom: 11px;
    border-left: 1px solid #333333;
}

.icon-input_FormRoomSearch-dos {
    /* background: rgb(21, 255, 0);  */
    padding: 8px 0 4px 10px;
    position: relative;
    left: 137px;
    top: 9px;
    border-left: 1px solid #333333;
}


.fa-calendar-week,
.fa-calendar-day {
    color: #333333;
    font-size: 20px;
}

.fa-calendar-week:hover,
.fa-calendar-day:hover {
    color: #0F606D;
    cursor: pointer;
}


.Button_FormRoomSearch {
    background-color: #0F606D;
    width: 122px;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    
    font-family: Akrobat-Bold;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    color: antiquewhite;
}




.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    border-radius: 0.3rem;
    background-color: #0F606D;
    color: #fff;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
    background: rgba(15, 96, 109, 0.2);
    color: #0F606D;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range) {
    background: rgba(15, 96, 109, 0.2);
    color: #0F606D
}


.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    display: block;
    height: 9px;
    position: absolute;
    top: 6px;
    width: 9px;
}


.react-datepicker__header {
    text-align: center;
    background-color: #0F606D;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.944rem;
}

.react-datepicker__day-name {
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}